@media all and (min-width: 480px) {
    .Login {
      padding: 100px 0 190px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 340px;
    }
  }

#LoginBtn {
    width: 100%;
}

.App-logo{
  height: 45px;
}