.left {
    max-height: 700px;
    border-radius: 15px;
    margin-top: 30px;
}

.right {
    margin-top: 30px;
    max-height: 700px;
    border-radius: 15px;
}

#fileList{
    background-color: #fff;
    overflow: scroll;
    height: 570px;
    border: 2px solid #bbb;
    border-radius: 20px 0 0 0;
    padding-left: 5px;
    padding-top: 5px;
}

#fileContent{
    border-radius: 0 20px 0 0;
}

#upload_button {
    width:100%;
}