.tree {
    margin-top: 20px;
  }
  .tree ul {
    list-style: none;
    padding-left: 5px;
  }
  .tree ul li {
    padding-left: 16px;
    position: relative;
    box-sizing: border-box;
  }
  .tree ul li:before {
    content: '';
    height: 1px;
    width: 10px;
    background-color: #333;
    position: absolute;
    top: 10px;
    left: 0;
    margin: auto;
  }
  .tree ul li::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .tree ul li:last-child::after {
    height: 10px;
  }
  .tree ul a {
    cursor: pointer;
  }
  .tree ul a:hover {
    color: #333;
    text-decoration: none;
  }
  