#chat_wrapper{
    margin-top: 30px;
    height: 650px;
    margin-bottom: 20px;
}

#user_list_wrapper{
    border: 2px solid #ccc;
    padding-left: 0%;
    padding-right: 0%;
}

#chat_list_wrapper{
    border: 2px solid #ccc;
    padding-left: 0%;
    padding-right: 0%;
}