.header {
    background: #fff;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: rgba(0, 0, 0, 0.5);
}

.item:active {
    background: #fff;
    color: #5c7cfa
}

@media all and (min-width: 480px) {
    #App-head-logo{
        height: 25px;
    }
}