.item {
  text-align: center;
}
#alert_margin {
  margin-left: 10px;
}
@media all {
  #App-head-logo {
    height: 40px;
  }
}
#header {
  background-color: #2d3246;
}

.headerText {
  color: white;
  border: 1px solid white;
}
